/* 
Color Palette
https://coolors.co/3066be-119da4-6d9dc5-80ded9-aeecef 
*/

/* Border test */
/* * {
    border: 1px solid red;
} */

body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-basis: 1 1 0; */
}

header {
    text-align: center;
    background-color: #119DA4;
}

h1 {
    margin: 0px;
    padding: 20px;
}

.working-block {
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    background-color: #AEECEF;
}


/* Tool Bar */
.sidebar {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
    background-color: #3066BE;
    border-radius: 5px;
}

.tool-btn {
    font-size: 15px;
    margin: 5px;
    padding: 3px;
}

/* Grid */
.grid-container {
    border: 8px solid #3066BE;
    border-radius: 5px;
    display: grid;
    margin: 20px;
    height: 400px;
    width: 400px;
}

.gridSquare {
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(0, 0, 0);
}

footer {
    text-align: center;
    background-color: #119DA4;
    padding: 20px;
}