/* 
Color Palette
https://coolors.co/3066be-119da4-6d9dc5-80ded9-aeecef 
*/

/* Border test */
/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0C1A31;
    /* flex-basis: 1 1 0; */
}

header {
    text-align: center;
    background-color: #80DED9;
    border: 1px solid black;
    border-top: none;
}

h1 {
    margin: 0px;
    padding: 20px;
    /* color: white; */
}

.working-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AEECEF;
    border-radius: 40px;
}

.main-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: #AEECEF;
}

/* Tool Bar */
.sidebar-main {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
    /* background-color: #3066BE; */
    /* border-radius: 5px; */
}

.sidebar-upper {
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    padding: 5px;
    background-color: #3066BE;
    border-radius: 5px;
}

.sidebar-lower {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 5px;
    background-color: #3066BE;
    border-radius: 5px;
}

.tool-btn {
    /* height: 80px;
    width: 80px; */
    font-size: 15px;
    margin: 5px;
    padding: 3px;
}

/* Grid */
.grid-container {
    border: 8px solid #3066BE;
    border-radius: 5px;
    display: grid;
    margin: 20px;
    height: 400px;
    width: 400px;
}

.gridSquare {
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(0, 0, 0); */
}

/* Slider */
.gridSizeLabel {
    font-size: 30px;
    justify-content: center;
}

.slidecontainer {
    text-align: center;
    /* justify-content: center; */
    width: 50%; /* Width of the outside container */
    padding: 10px;
    background-color: #80DED9;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  
/* The slider itself */
/* CREDIT: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 12px; /* Specified height */
    border-radius: 10px;
    background: #ffffff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #3066BE; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #3066BE; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
